.card-row {
  display: flex;
  align-items: center;      /* Centra verticalmente */
  justify-content: space-between; /* O 'flex-start' si no quieres separarlos tanto */
  gap: 1rem;                /* Espacio entre elementos */
  flex-wrap: wrap;          /* Permite que se acomoden en pantallas pequeñas */
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}

app-generic-date-range {
  flex: 1;                  /* Ocupa el espacio restante */
  min-width: 250px;         /* Evita que se haga demasiado pequeño */
}

app-generic-button {
  flex-shrink: 0;           /* Evita que el botón se reduzca */
}