@use '@angular/material' as mat;

.boton-redondo {
  border-radius: 50%; 
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  align-items: center;
}

.chico{
  width: 250px;      
  height: 250px;
  font-size: 2rem;
}

.mediano{
  width: 350px;      
  height: 350px;
  font-size: 3rem;
}
.grande{
  width: 550px;      
  height: 550px;
  font-size: 5rem;
}

.estado {
  margin-top: 20px;
  font-size: 1.2rem;
}

.entrada{
  @include mat.button-overrides((
    text-label-text-color: var(--mat-sys-success),
    filled-container-color: var(--mat-sys-success),
    outlined-label-text-color : var(--mat-sys-success),
    outlined-outline-color: var(--mat-sys-success), 
    tonal-label-text-color: var(--mat-sys-success),
  ));
}
.salida{
  @include mat.button-overrides((
    text-label-text-color: var(--mat-sys-error),
    filled-container-color: var(--mat-sys-error),
    outlined-label-text-color : var(--mat-sys-error),
    outlined-outline-color: var(--mat-sys-error), 
    tonal-label-text-color: var(--mat-sys-error),
  ));
}

