.card-container {
  display: flex;
  flex-direction: column;

  &.centered {
    margin: 0 auto;
  }
}

mat-card {
  width: 100%;
  border-radius: 16px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

mat-card.padded {
  padding: 1.5rem;
}

mat-card-title {
  font-weight: 600;
  font-size: 1.2rem;
}


mat-card-actions {
  display: flex;
  justify-content: flex-end;
  padding-top: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  margin-top: 1rem;
}