<form [formGroup]="formulario">
  <app-generic-card
    title="Registro de Usuario"
    subtitle="Complete la información requerida"
    maxWidth="100%">
        
        <div card-content>
            <app-generic-input label="Nombre" placeholder="Nombre Completo" 
                type="text" controlName="nombre"/>

            <app-generic-input label="Telefono" placeholder="Numero de Telefono" 
                type="text" controlName="telefono"/>
            
            <app-generic-input label="Contraseña" placeholder="Escribe una Contraseña" 
                type="password" controlName="passwordHash"/>
          
            <app-generic-select label="Rol" controlName="idRol" [options]="roles" 
                displayField="rol" valueField="idRol"/>

        </div>
        <div card-botones #cardBotones>
            <app-generic-button label="cancelar" [emmit]="false"  (click)="cancelar()" color="secondary" type="fab-extended" icon="cancel" />
            @if(crearUsuario){
                <app-generic-button label="guardar" [emmit]="false" 
                (click)="guardar()" color="primary" [disabled]="formulario.pristine  || formulario.invalid"
                type="fab-extended" icon="save" />
            } @else{
                <app-generic-button label="modificar" [emmit]="false" 
                (click)="modificar()"  [disabled]="formulario.pristine || formulario.invalid"
                color="tertiary" type="fab-extended" icon="update" />
            }
        </div>
  </app-generic-card>
</form>
