.layout-container {
  height: 100vh;
  background: var(--mat-sys-background);
  color: var(--mat-sys-on-background);
}

.layout-sidenav {
  width: 250px;
  background: var(--mat-sys-surface-container);
  border-right: 1px solid var(--mat-sys-outline-variant);
}

.layout-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.layout-main {
  margin-left: 10%;
  margin-right: 10%;
  padding: 1rem;
  flex: 1;
  background-color: var(--mat-sys-surface);
}
