@use '@angular/material' as mat;

mat-chip-listbox  {
  @include mat.chips-overrides((
    elevated-selected-container-color: var(--mat-sys-tertiary),
    selected-label-text-color: var(--mat-sys-on-tertiary),
    with-icon-selected-icon-color: var(--mat-sys-on-tertiary)
  ))}

mat-chip-option {
  margin: 4px;
  cursor: pointer;
}

.chip-select-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.chip-label {
  font-size: 14px;
  font-weight: 600;
  color: #424242;
  margin-bottom: 4px;
}

.chip-list {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

