.full-width-table {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.mat-mdc-header-cell {
  font-weight: 600;
  background-color: #f4f4f4;
}

.empty-state {
  text-align: center;
  color: #777;
  padding: 1rem;
  font-style: italic;
}

.buscador {
  width: 300px;
  margin-bottom: 1rem;
  display: block;
}