.contenedor {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;     /* Centra verticalmente */
  height: calc(100vh - 100px);/* Ocupa toda la pantalla */
}
.current-time {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  color: #555;
  font-weight: 500;
}