.login-container {
  display: flex;
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
  min-height: 100vh; /* Por ejemplo, para que ocupe toda la altura de la ventana */
}
